/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}

.popup2 {
    top:200px;
    position:fixed;
    left:50%;
    z-index:1010;
    display: none;
}
.popupup {
    z-index:1010;
    position:fixed;

}
.close_but {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    /*border: 2px solid #ccc;*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close_but:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close_but:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/* изображения внутри окна */

#News2 {
    width:80%;
    display: none;
    position: absolute;
    top:40px;
    height:80%;
    min-height:400px;

    background: #fff;
}

#news_table {
    float:right;
}

#NewsTable_wrapper {

}
#NewsMenu {
    width:100px;
    position:relative;
    display: block;
    margin:0;
    padding:0px;
}

.news_title {
    width:600px;
    padding-left:16px;
}
.content_news {

}
.news_header {
    font-family: "GothamProMedium";
    font-size:25px;
    padding-left:20px;
    padding-top:10px;
}

.cursor {
    color:#0074bc;

    font-size:22px;
    margin-top:10px;
    position: relative;
    top:3px;
}
.close_btn{
    padding-right:25px;
    margin-right:-5px;
    margin-top:-5px;
    color:#f71313;
    font-size:40px;
    font-weight: 500;
    opacity: 1;
}

.close_btn:hover {
    color:#f71313;
}
.news_image {
float:left;
    width:112px;
}

.news_left {
    font-family:"GothamProRegular";
    font-size:16px;
    padding-left:18px;
}

.colls_news {
    border:0px;
}
.colls_news th {
    background:#0074bc;
    color:#fff;
    text-align: left;
    padding-left:40px;
    border:0px;
}

.colls_news td {
    text-align: left;
}
.content_news p {
    font-family:"GothamProRegular";
    font-size:14px;
}

.content_news .content_header {
    font-family: "GothamProMedium";
    font-size:16px;
    margin-bottom: 5px;
}

.news-body {
    padding-left:35px;
    padding-right:35px;
}
.button, .btn_news_all {
    background:#cd302b;
    color:#fff;
    width:141px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    border:solid 0px;
    margin-top:10px;
    position: relative;
    border-radius: 3px;
}

.btn_news_all:hover {
    color:#fff;
}
a.button:hover {
    color:#fff;
}
.btn_news {
    color:#000;
    margin-left:-20px;
}
.btn_news .count {
    background:url('/opt/img/round.jpg');
    width:19px;
    height:19px;
    display: block;
    float: right;
    text-align: center;
    margin-top:-5px;
    padding-top: 3px;

}
sup {
    padding-left:-1px;
}

.button_wrapper {
    text-align: center;
    width:700px;
    margin-top:10px;
    margin-bottom: 20px;
}
#NewsMenu hr {
    border:solid 1px #eee;
    width:90%;
}
#News > div > div > div > table.colls.table.table-striped.colls_news > tbody > tr.col_insert_new > th {
    vertical-align: middle;
}